{% extends 'layout/base.html' %}

{% block body %}
<h1>LIFE EXPECTANCY ANALYSIS</h1>
<p>Minor Project</p>
{% endblock %}
{% block css %}
<style>
  main{
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgb(113, 203, 111);
    background-image: url(https://images.pexels.com/photos/3889792/pexels-photo-3889792.jpeg?cs=srgb&dl=pexels-taryn-elliott-3889792.jpg&fm=jpg);
    background-size: cover;
    background-position:bottom ;
    background-repeat:no-repeat;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
</style>
{% endblock %}
